d-article a.undecorated {
	border-bottom: none;
}

.subgrid {
	grid-column: screen;
	display: grid;
	grid-template-columns: inherit;
	grid-template-rows: inherit;
	grid-column-gap: inherit;
	grid-row-gap: inherit;
}

d-figure.base-grid {
	grid-column: screen;
	background: hsl(0, 0%, 97%);
	padding: 20px 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

d-figure {
	margin-top: 1.5em;
	margin-bottom: 2.5em;
	position: relative;
}

d-figure > figure {
	margin-top: 0;
	margin-bottom: 0;
}

d-title > figure:last-child {
	margin-bottom: 1.5em;
}

a.section-number::before {
	content: "Section ";
}

a.figure-number::before {
	content: "Figure ";
}

a.figure-number,
a.section-number {
	border-bottom-color: hsla(206, 90%, 20%, 0.3);
	text-transform: uppercase;
	font-size: 0.85em;
	color: hsla(206, 90%, 20%, 0.7);
}

a.figure-number:hover,
a.section-number:hover {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: hsla(206, 90%, 20%, 0.7);
}

.shaded-figure {
	background-color: hsl(0, 0%, 97%);
	border-top: 1px solid hsla(0, 0%, 0%, 0.1);
	border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
	padding: 30px 0;
}

.pointer {
	position: absolute;
	width: 26px;
	height: 26px;
	top: 26px;
	left: -48px;
}

.todo {
	padding: 0.5em;
	background-color: hsla(50, 100%, 50%, 0.25);
	border: 1px solid hsla(50, 100%, 50%, 0.5);
	border-radius: 4px;
	color: hsl(45, 100%, 20%);
}

.todo::before {
	display: inline-block;
	content: "⚠️";
	vertical-align: baseline;
	position: relative;
	font-size: 135%;
	top: 4px;
	margin: 0 0.25em;

	text-decoration: none !important;
}

.todo.done::before {
	content: "✅";
}

.todo.done {
	background-color: hsla(120, 20%, 60%, 0.25);
	border: 1px solid hsla(120, 20%, 60%, 0.5);
	color: hsl(45, 0%, 20%);
	text-decoration: line-through;
	text-decoration-color: hsla(45, 0%, 20%, 50%);
}

/* Color Legends */

.color-legend {
	display: inline-block;
	width: 64px;
	width: 4em;
	height: 8px;
	height: calc(1ex + 1px);
	position: relative;
	bottom: 1px;
	vertical-align: baseline;
}
.color-legend.viridis {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQAAAAABCAYAAAAxWXB3AAAA7ElEQVQ4T4WRi23EMAxDSXu1jtD9R4kPIiVbTosWh0Ci+PRJjl/8XuAAB9EjpAmOoYgdCXKg/MsLTmzGN9e8pRzm83nXulZO8yv7VuqoF1tceY7QTZW/vR9a82Nm7ssZd3/5uXvzvbczeUfjFn6p1b3/zDv3xZCzp9f3u3Ptd7/6tCu9vMU9K7913Wfdvfg7Lg5mmL0nmgvtv/lw/rzHGzs3W3rgpZML394Sez34q/aY3cyDubW9KS9zeVWv2qP+KebZfPXNxospFt5lP/pqd0TrYjVLfs13n3f4RudwBDCVM/OITE1Mho5f5M4+UeiJCh70oMIAAAAASUVORK5CYII=");
	background-size: contain;
}
.color-legend.pn {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAAACCAIAAABnm03uAAAAL0lEQVR4nGNkqP/PwcKAB3Gy4pXFq5eDhYGV4TfDnx940Xd8sr/xyv75wcQwxAEA8tZAggq3EssAAAAASUVORK5CYII=");
	background-size: contain;
}

.legend-label {
	padding: 1px 4px;
	border-radius: 2px;
	color: rgba(0, 0, 0, 0.8);
}

.legend-label.support {
	background-color: #EE880088;
}

.legend-label.inhibit {
	background-color: #0088EE88;
}

.legend-label.support-rb {
	color: white;
	background-color: #CE1E34CC;
}

.legend-label.inhibit-rb {
	color: white;
	background-color: #0571B0CC;
}

#figure-3 > figure {
	display: grid;
	grid-row-gap: 0.5em;
}